*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: beige;
}
.text-3d{
    color: rgb(230, 228, 225);
    font-size: 15vh;
    font-weight: bold;
    text-shadow: 1px 2px #8b8b8b,
                1px 3px #8b8b8b,
                1px 4px #8b8b8b,
                1px 5px #8b8b8b,
                1px 6px #8b8b8b,
                1px 7px #8b8b8b,
                1px 8px #8b8b8b,
                1px 9px #8b8b8b,
                1px 10px 1px #8b8b8b,
                1px 18px 6px #8b8b8b,
                1px 22px 10px #8b8b8b,
                1px 25px 35px #8b8b8b,
                1px 30px 60px #8b8b8b;
}